In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('good_bad.csv')

In [4]:
df.shape

(200, 101)

In [5]:
df.sample(5)

,value1,value2,value3,value4,value5,value6,value7,value8,value9,value10,...,value92,value93,value94,value95,value96,value97,value98,value99,value100,species
73,-1350,-1120,-1030,-1220,-1200,-974,-808,-947,-1060,-909,...,-286,-378,-531,-516,-408,-424,-534,-508,-388,0
181,72,107,131,137,125,105,96,97,93,80,...,54,66,64,32,3,10,24,22,27,1
156,145,154,177,184,156,133,133,139,130,120,...,51,54,66,70,65,50,33,10,-18,1
113,20,4,-45,-83,-91,-72,-74,-117,-102,-41,...,2,-34,-49,-2,37,20,-28,-41,6,1
40,609,920,1130,921,641,772,1000,802,428,518,...,328,311,10,-76,178,296,119,-70,107,0

In [6]:
#속성을 x, 클래스를 y로 지정하기
X=df.iloc[:,0:100]
y=df.iloc[:,100]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.925

In [10]:
import pickle
pickle.dump(rf,open('model1.pkl','wb'))